{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'fieldtest/style.css' %}" />

<p>Choose a service type</p>

<form name="aform" action="" method='post'>
  {% csrf_token %}
  <select name="services">
  {% for choice in form.services.field.choices %}
    <option value="{{choice.0}}" 
      {% ifequal form.my_choice_field.data choice.0 %}
         checked="checked"
      {% endifequal %}>{{choice.0}}</option>
  {% endfor %}
  </select>
  <input type="submit" value="Check Service Status" />
</form>

<ul>
{% for status in form2.service_info.field.choices %}
  <li>
    <input type="hidden" name="service_info" value="{{status.0}}"
      {% ifequal form2.my_choice_field.data status.0 %}
         checked="checked"
      {% endifequal %}/>
    <label for="">{{status.0}}</label>
  </li>
{% endfor %}
</ul>